@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The web portal receives parameter data from the service. Displays a graph in the form of colored table cells. Data is updated using an external API. This portal displays current information on the status of parameters.</p>
